mixin item(country_code, title, country, city, descr, prepay, price, add, is_large, price_text, is_article)
    .large-4.column
        .card(class=is_large?'card--large':'')
            .card_content
                .card_top(class=is_article ? 'card_top--fixed' : false)
                    .card_flag
                        span.flag-icon.flag-icon-squared(class=`flag-icon-${country_code}`)
                    .card_name
                        if !is_large
                            a.card_name_link(href=`./${is_article?'article':'tour'}.html`)
                                =title
                        if !is_article
                            .card_name_location
                                if is_large && city
                                    a(href="./city.html")
                                        =city
                                    | , 
                                a(href="./country.html")
                                    =country
                                if !is_large
                                    | , 
                                    a(href="./city.html")
                                        =city
                a.card_image(href=`./${is_article?'article':'tour'}.html` class=prepay?'card_image--prepay':false)
                    img(src=`https://unsplash.it/690/380/?random&${Math.random()}`, alt=title)
                .card_brief
                    if is_large
                        ul.menu.vertical
                            li
                                b 456
                                | Экскурсий
                            li
                                b 456
                                | Мест шоппинга
                            li
                                b 456
                                | Спа салонов
                            li
                                b 456
                                | Объектов недвижимости
                            li
                                b 456
                                | Туров
                    else
                        !=descr
            if !is_large
                .card_bottom(class=!price?'card_bottom--wo':'')
                    .card_bottom_add
                        .card_bottom--left
                            a.card_bottom_more(href=`./${is_article?'article':'tour'}.html`)
                                | Узнать больше
                        .card_bottom--right
                            +rating(2.8)
                    .card_bottom_price
                        .card_bottom--left
                            if is_article
                                | 07/09/2018
                            else if price_text
                                | От 
                                b 549
                                | 
                                span бат
                                br
                                | За 1 пассажира
                            else if price
                                | Взрослый 
                                b 549
                                | 
                                span бат
                                br
                                | Детский 
                                b 449
                                | 
                                span бат
                            else
                                | Бесплатный трансфер
                        if add || is_article
                            .card_bottom--right
                                if add
                                    button.card_add
                                        i.fa.fa-plus-circle
                                else
                                    a.card_comments(href=`./${is_article?'article':'tour'}.html#comments`)
                                        i.icon-bubbles
                                        | 2