block const
-
    const title  = `take.travel${name ? ' - ' + name : ''}`;
    const descr  = 'Description';
    const domain = 'travel.salex.pro'

mixin icon(name, size, color, viewbox)
    - viewbox = viewbox || size
    svg(xmlns='http://www.w3.org/2000/svg' width=size[0] height=size[1] viewbox=viewbox ? "0 0 " + viewbox[0] + " " + viewbox[1] : "")
        use(fill=color, xlink:href='#' + name)

// Components
include components/_item
include components/_list
include components/_review

doctype html
html(lang="ru")
    head
        include components/_head
    body
        main.wrap
            include sections/_header
            include components/_lmenu
            include sections/_banner
            if page != 'main'
                section.row.column.section
                    include components/_path
            block content
            include sections/_footer
        include components/_dropdown
        include components/_popup
        include components/_icons
        script(src="/js/app.min.js")
        script(src="https://use.fontawesome.com/5d9df53e16.js")