extends ../_layout
block const
    -
        const page = 'pricelist';
        const type = 'pricelist';
        const name = 'Прайс Лист';
        const logged = true;

block content
    mixin prog(name, days, price_adult, price_child, is_prog)
        tr(class=is_prog?'table_program':false)
            td
                if is_prog
                    =name
                else
                    a(href="#")=name
            if days
                td=days.join(', ')
                td=price_adult
                td=price_child
                td
                    a.table_add(href="#")
                        i.fa.fa-plus
                td
                    a.table_wish(href="#")
                        i.material-icons
                            | favorite_border

    mixin item(title, progs)
        tr
            td(colspan='6')
                a(href="#")=title
        each prog in progs
            +prog(...prog, true)        

    mixin price(header, name)
        img(src=`https://unsplash.it/900/300?random&${Math.random()}`, alt="")
        table.table.table--pricelist
            tr
                th
                    a(href="./${name}.html")
                        =header
                th
                    | Дни
                th
                    | Взрослые
                th
                    | Дети
                th
                    | Забронировать
                th
                    | Список желаний
            +prog('Альпака Парк и Земля Королей', ['Пт'], 2800, 1650)
            +item('Аюттайя', [['Древняя столица Сиама', ['Пн','Вт','Ср','Чт','Сб'], 1890, 1199]])
            +item('Аюттайя + Река Квай + Эраван', [['Насыщенная 2-х дневная экскурсия', ['Пн','Чт'], 2999, 1549]])
            +item('Затерянный Мир', [['Национальные парки, пещеры, водопад', ['Пн','Ср','Пт'], 2299, 1350]])
            +item('Изумительный Таиланд', [['Национальный парк Кхао Яй, рафтинг и водопады', ['Вт','Чт','Вс'], 2149, 1199], ['+ путешествие на квадроциклах по джунглям', ['Вт','Чт','Вс'], 2599, 1399]])
            tr.table_more
                td(colspan="6")
                    a(href="#")
                        | Смотреть все
                        i.icon-arrow-down
                
    section.row.column.section
        .card.card--expanded.card--pricelist
            .card_top
                .header.big.primary
                    | Цены на экскурсии в Паттайе 2016
                .header.tiny
                    | Цены указаны в 
                    span(data-toggle="currencies")
                        .head_link
                            | Тайских батах
                        i.icon-arrow-down
            .card_content
                +price('Познавательные экскурсии', 'tours')
                +price('SPA', 'spa')
                +price('Такси', 'taxi')
                +price('Трансфер', 'transfer')