header.head
    .row.align-middle.align-justify.head_inner
        .column.head_left
            .head_logo
                a(href="/")
                    img(src="/img/logo.svg", alt="")
                    | take.travel
            .head_place
                | Место: 
                .head_link(data-open="search")
                    | Паттайя, Таиланд
            .head_currency
                | Валюта: 
                .head_link(data-toggle="currencies")
                    | Тайский бат
        .column.large-4.head_right
            .head_support
                button.head_support_search(data-open="search")
                    i.material-icons search
                button.head_support_button(data-toggle="support")
                    i.icon-earphones-alt
                p 24/7 Обслуживание клиентов в Таиланде +666 000 35666
            button(class=logged ? "head_account" : "head_account is_new" data-toggle=logged ? "logged" : "unlogged")
                span.head_account_inner
                    if logged
                        img(src="https://unsplash.it/40?random", alt="Аватар")
                    else
                        i.icon-user
nav.nav
    .row.nav_inner
        ul.menu
            li
                a(href="./pricelist.html" class=page=='pricelist'?'active':'') ПРАЙС-ЛИСТ
            li
                a(href="./faq.html" class=page=='faq'?'active':'') ЧАВО
            li
                a(href="./reviews.html" class=page=='reviews'?'active':'') ОТЗЫВЫ
            li
                a(href="./articles.html" class=page=='articles'?'active':'') СТАТЬИ
            li
                a(href="./contacts.html" class=page=='contacts'?'active':'') КОНТАКТЫ
